@charset "UTF-8";
:root{
    --cor1:#4e5ffc;
    --cor2:#0316c7;
}
body{
    background-color:rgba(128, 128, 128, 0.616);
    
}
nav{
    width: 79vw;
    background-image: url("imagens/wallpaper006.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    background-attachment: fixed;
    padding: 4px;
    border-radius: 12px;

}
nav > h1{
    text-align: center;
    color: rgba(79, 96, 252, 0.555);
    font-size: 5vw;
}
nav  a{
    text-decoration: none;
    margin-left: 23px;
    color: rgb(18, 18, 206);
    transition: 1.7s;
    border: 1px solid rgba(0, 0, 0, 0.199);
    padding: 0px 6px ;
    border-radius: 10px 5px 10px 5px ;
    
}
 nav a:hover{
    color:rgba(128, 128, 128, 0.774);
    background-color: #4e5ffc33;
}