@charset "UTF-8";
:root{
    --cor1:#4e5ffc;
    --cor2:#0316c7;
}
body{
    background-color:rgba(128, 128, 128, 0.616);
    position: relative;
}
div#cabeça{
    
    
}
nav{
    width: 82vw;
    background-image: url("imagens/wallpaper006.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    padding: 4px;
    border-radius: 12px 12px 0px 0px;
    
}
div.rolar{   
    background-image: url("imagens/wallpaper006.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width:82vw ;
    position: sticky;
    top: 0;
    border-radius: 0px 0px 12px 12px;
    padding: 1px 4px;   
}

section{
    text-align: right;
    position: relative;
    padding: 3px;
}
.rolar2{
    text-align: right;
    position: absolute;
    bottom: 20%;
    right: 4%;
    
    
}



nav > h1{
    text-align: center;
    color: rgba(79, 96, 252, 0.555);
    font-size: 5.1vh;
}
div.rolar p{
    font-size: 1.0vw;
    display: inline;
    text-align: right;
}

div#cd a img{
    border: none;
    border-radius: none;
    padding: none;
    margin-left: 12px;
    
}
   a.ok{
    text-decoration: none;
    margin-left: 1.1vw;
    color: rgb(18, 18, 206);
    transition: 1.7s;
    border: 1px solid rgba(0, 0, 0, 0.199);
    padding: 0px 6px ;
    border-radius: 10px 5px 10px 5px ;
    
}
 div.rolar a:hover{
    color:rgba(128, 128, 128, 0.774);
    background-color: #4e5ffc33;
}